<p-panel header="Counters">
  <small><i>@ngrx/store State Management</i>s</small>

  <form>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Amount:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText placeholder="Amount" [(ngModel)]="amount">
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <p>Current Count: <b>{{ counter | async }}</b></p>
        </div>
      </div>

    </div>
  </form>

  <!-- Buttonbar -->
  <button pButton icon="fa-plus" (click)="increment()"></button>
  <button pButton icon="fa-minus" (click)="decrement()"></button>
  <button pButton icon="fa-undo" (click)="reset()"></button>

</p-panel>